<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="EEF0FC6D-40AB-4752-9901-977CF9CED82A" Name="Email Automation Bot" Language="1033" Version="1.0.0" Manufacturer="MD JOBAYER ARAFAT" UpgradeCode="86D1E510-C4DA-4201-B40B-0DCABC5604AE">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Email Automation Bot v1.0.0" Comments="Professional Email Automation Tool" Manufacturer="MD JOBAYER ARAFAT"/>
    <Media Id="1" Cabinet="EmailBot.cab" EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Email Automation Bot"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Email Automation Bot"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="comp_7d9ad319" Guid="5838E609-437A-46C5-BCF3-4312F7FB72BA">
        <File Id="MainExecutable" Source="release\EmailAutomationBot.exe" KeyPath="yes"/>
      </Component>
      <Component Id="comp_3edb2a15" Guid="AE853BB4-5489-4889-964D-E07667B1BECD">
        <File Id="file_1" Source="release\email_bot.db" KeyPath="yes"/>
      </Component>
      <Component Id="comp_17868944" Guid="D544BD02-F144-408D-B81E-5752E80AA95C">
        <File Id="file_2" Source="release\email_bot.log" KeyPath="yes"/>
      </Component>
      <Component Id="comp_7af5447d" Guid="608F1887-16E4-44C0-AFA4-AC3C44133DE9">
        <File Id="file_3" Source="release\encryption.key" KeyPath="yes"/>
      </Component>
      <Component Id="comp_f9807031" Guid="FD52A9B7-0DE2-42ED-BEE8-2DEB754BAF7A">
        <File Id="file_4" Source="release\INSTALLATION.md" KeyPath="yes"/>
      </Component>
      <Component Id="comp_04c6e90f" Guid="7FB42AEF-4E2B-48AA-89DE-0DA2A851EC53">
        <File Id="file_5" Source="release\README.md" KeyPath="yes"/>
      </Component>
      <Component Id="comp_b4ef698d" Guid="13E489A3-E703-4B03-9118-20E8B96AFC05">
        <File Id="file_6" Source="release\requirements.txt" KeyPath="yes"/>
      </Component>
      <Component Id="comp_6e6b6a35" Guid="B0DBD117-D874-4FDE-B2E4-9A2E55B723B1">
        <File Id="file_7" Source="release\USER_GUIDE.md" KeyPath="yes"/>
      </Component>
      <Component Id="comp_ded6556f" Guid="0A9B200C-5DDE-4C47-995A-CC275C72C2E7">
        <File Id="file_8" Source="release\logs\email_automation_bot.log" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <Feature Id="ProductFeature" Title="Email Automation Bot" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>
    <Feature Id="ShortcutsFeature" Title="Shortcuts" Level="1">
      <ComponentRef Id="DesktopShortcutComponent"/>
      <ComponentRef Id="StartMenuShortcutComponent"/>
    </Feature>
    <Component Id="DesktopShortcutComponent" Guid="9B3B03F1-9DE7-4E8F-99DF-2464E4AB9830" Directory="DesktopFolder">
      <Shortcut Id="DesktopShortcut" Name="Email Automation Bot" Target="[INSTALLFOLDER]EmailAutomationBot.exe" WorkingDirectory="INSTALLFOLDER" Icon="EmailBot.exe" IconIndex="0"/>
      <RegistryValue Root="HKCU" Key="Software\MD JOBAYER ARAFAT\Email Automation Bot" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    <Component Id="StartMenuShortcutComponent" Guid="65249AD7-46B1-43A3-9B5A-03B89444E00D" Directory="ApplicationProgramsFolder">
      <Shortcut Id="StartMenuShortcut" Name="Email Automation Bot" Target="[INSTALLFOLDER]EmailAutomationBot.exe" WorkingDirectory="INSTALLFOLDER" Icon="EmailBot.exe" IconIndex="0"/>
      <Shortcut Id="UninstallShortcut" Name="Uninstall Email Automation Bot" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\MD JOBAYER ARAFAT\Email Automation Bot" Name="startmenu" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    <Icon Id="EmailBot.exe" SourceFile="release\EmailAutomationBot.exe"/>
    <Property Id="ARPPRODUCTICON" Value="EmailBot.exe"/>
    <Upgrade Id="86D1E510-C4DA-4201-B40B-0DCABC5604AE">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0" IncludeMinimum="yes" Maximum="1.0.0" IncludeMaximum="no"/>
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate"/>
    </InstallExecuteSequence>
  </Product>
</Wix>